.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  background:  url('compound-interest-calculator.jpg') no-repeat center center fixed; 
  background-position: center;
}
.label1{
  text-align: right;
}
.label{
  text-align: left;
}
.flex{
  display:flex;
  justify-content: space-between;
}
.MuiOutlinedInput-input {
  padding: 8.5px 14px !important;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
